:root {
  --accent-font: "Bellota Text", cursive;
  --default-font: "Jost", sans-serif;
  --heading-font: "Raleway", sans-serif;
  --text-font: "Open Sans", sans-serif;

  --primary-color: #1e56a0;
  --secondary-color: #d6e4f0;
  --terciary-color: #163172;
  --accent-color: #f6f6f6;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 70px;
  line-height: 75px;
}

h2 {
  font-family: var(--default-font);
  font-size: 34px;
  line-height: 52px;
}

h3 {
  font-family: var(--default-font);
  font-size: 18px;
  text-align: center;
}

h4 {
  font-family: var(--default-font);
}

a,
p {
  font-family: var(--text-font);
}

p {
  font-size: 20px;
}

.hero {
  background: var(--secondary-color);
  padding: 75px 125px;
}

.btn-hero {
  background: var(--accent-color);
  padding: 15px;
  width: 175px;
}

.btn-hero:hover {
  background: var(--terciary-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.profile-pic {
  width: 75%;
  border-radius: 25px;
}

.homepage-my-works-imgs {
  width: 100%;
}

.homepage-my-works a {
  text-decoration: none;
  color: var(--primary-color);
}

.homepage-my-works a:hover {
  text-decoration: underline;
  color: var(--terciary-color);
  opacity: 85%;
}

.about-container {
  background: var(--secondary-color);
}

.about-container .hero {
  background: var(--accent-color);
}

.about-container .btn-hero {
  background: var(--secondary-color);
}

.about-container .btn-hero:hover {
  background: var(--primary-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.shecodes-certificates {
  width: 100%;
}

.skills-content {
  background: var(--primary-color);
  color: var(--accent-color);
  padding: 50px 20px;
  border-radius: 10px;
}

.hobbies-content {
  background: var(--primary-color);
  color: var(--accent-color);
  padding: 40px 20px;
  border-radius: 10px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 48px;
    line-height: 1.25;
  }

  h2 {
    font-size: 24px;
    line-height: 1;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .hero {
    text-align: center;
    padding: 30px 50px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-img {
    display: none;
  }

  .hero-btn {
    display: block;
    margin: auto;
  }

  .skills-content {
    padding: 10px 0;
  }

  .certificates p {
    display: none;
  }

  .hobbies-content {
    padding: 10px 0;
  }
}
