:root {
  --heading-font: "Raleway", sans-serif;
  --accent-font: "Jost", sans-serif;
  --default-font: "Open Sans", sans-serif;

  --primary-color: #1e56a0;
  --secondary-color: #d6e4f0;
  --terciary-color: #163172;
  --accent-color: #f6f6f6;
}

body {
  background: var(--accent-color);
}

nav {
  padding: 15px 0;
  line-height: 35px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 70px;
  line-height: 75px;
}

h2 {
  font-family: var(--accent-font);
  font-size: 34px;
  line-height: 52px;
}

h3 {
  font-family: var(--accent-font);
  font-size: 18px;
  text-align: center;
}

h4 {
  font-family: var(--accent-font);
}

a,
p {
  font-family: var(--default-font);
}

p {
  font-size: 20px;
}

.nav-container {
  margin: 0px 50px;
}

.logo {
  max-height: 35px;
}

.logo:hover {
  opacity: 60%;
  transition: all 1000ms ease-in-out;
  transform: rotateY(360deg);
}

.hero {
  background: var(--secondary-color);
  padding: 75px 125px;
}

.btn-hero {
  background: var(--accent-color);
  color: var(--terciary-color);
  padding: 15px;
  width: 175px;
}

.btn-hero:hover {
  background: var(--terciary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.profile-pic {
  width: 75%;
  border-radius: 25px;
}

.homepage-content a,
.author a {
  text-decoration: none;
  color: var(--primary-color);
}

.homepage-content a:hover,
.author a:hover {
  color: var(--terciary-color);
  transition: all 150ms ease-in-out;
}

.homepage-content img {
  width: 100%;
  border: 1px solid var(--accent-color);
  border-radius: 15px;
}

.homepage-content img:hover {
  border: 1px dotted var(--primary-color);
  transition: all 150ms ease-in-out;
}

.about-content {
  background: var(--secondary-color);
}

.about-container .hero {
  background: var(--accent-color);
}

.about-container .btn-hero {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.about-container .btn-hero:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--accent-color);
}

.certificates img {
  width: 100%;
  border-radius: 5px;
}

.skills-content {
  border: 1px solid var(--secondary-color);
  background: var(--accent-color);
  color: black;
  padding: 30px 20px;
  border-radius: 10px;
}

.hobbies-content {
  border: 1px solid var(--secondary-color);
  background: var(--accent-color);
  color: black;
  padding: 40px 20px;
  border-radius: 10px;
}

.work-container h1 {
  margin-top: 50px;
}

.work-content {
  max-width: 1000px;
}

.work-content .row {
  margin-top: 50px;
}

.work-descriptions {
  text-align: justify;
  border-radius: 20px;
  padding: 20px 60px;
}

.work-descriptions h3 {
  font-size: 24px;
}

.work-descriptions p {
  font-size: 16px;
  opacity: 80%;
}

.work-content img {
  width: 100%;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.work-content img:hover {
  border: 1px dotted var(--primary-color);
}

.contact-title {
  margin-top: 50px;
}

.contact-content {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.contact-links {
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.contact-links:hover {
  color: var(--terciary-color);
  text-decoration: underline;
  opacity: 85%;
}

footer {
  margin: 50px 0;
}

footer .socials {
  font-size: 28px;
}

footer i {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
}

footer i:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: all 750ms ease-in-out;
  transform: rotate(360deg);
}

@media (max-width: 960px) {
  nav li {
    margin-left: 10px;
  }

  nav a {
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
    line-height: 1.25;
  }

  h2 {
    font-size: 24px;
    line-height: 1;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .hero {
    text-align: center;
    padding: 30px 50px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-img {
    display: none;
  }

  .hero-content p {
    padding: 0;
    margin: 0;
    text-align: justify;
    font-size: 14px;
  }

  .hero-btn {
    display: block;
    margin: auto;
  }

  .skills-content {
    padding: 10px 0;
  }

  .certificates p {
    display: none;
  }

  .hobbies-content {
    padding: 10px 0;
  }

  .work-container h1 {
    margin-top: 0px;
  }

  .work-content {
    width: 90%;
  }

  .work-content .row {
    margin-top: 15px;
  }

  .work-descriptions {
    padding: 20px;
  }

  .work-descriptions h3 {
    font-size: 20px;
  }

  .contact-content {
    text-align: center;
  }

  .contact-title {
    font-size: 42px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .contact-title {
    margin: 25px 0px;
  }

  footer {
    margin: 25px 0;
  }

  footer .socials {
    font-size: 18px;
  }

  footer .author {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .nav-container {
    margin: 0 25px;
  }

  .nav-home {
    display: none;
  }

  .certificate-responsive {
    margin-top: 15px;
  }
}
